html, 
body {
    height: 100%;
}

main{

    display: flex;
    align-items: center;
    height: 100%;
    background: rgb(234, 234, 234);

    &.menu{

        .list-group{
            a{
                cursor: pointer;
                text-transform: uppercase;
                text-align: center;

                &:hover{
                    color: var(--bs-list-group-active-color);
                    background-color: var(--bs-list-group-active-bg);
                    border-color: var(--bs-list-group-active-border-color);
                    box-shadow: 0px 2px 10px var(--bs-list-group-active-bg);
                }
            }
        }
    }
}

footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;

    text-align: center;
}

#app{
    background: rgb(234, 234, 234);
    display: flex;
    align-items: center;
    height: 100%;
}

#work_container{
    transition: .6s;
    margin-top: unset;

    &.game{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #new_shape{
        // width: 150px;
        // height: 150px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        width: fit-content;
        // align-items: center;

        .level{
            display: flex;
            
            > *{
                width: 30px;
                height: 30px;
                background: black;
                border: 1px solid blue;
                border-radius: 5px;
            }
        }
    }
    
    #frame_game{
        border-radius: 10px;
        border: 1px solid silver;
        width: 400px;
        height: 500px;
        background: white;
    }

    &.hide{
        margin-top: 150%;
    }
}